.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ALT-362429.pdf' alt='Drawing of Active Learning Table model number ALT-362429')
      .card-body
        h5.card-title ALT-362429
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ALT-362429.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ALT-482429.pdf' alt='Drawing of Active Learning Table model number ALT-482429')
      .card-body
        h5.card-title ALT-482429
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ALT-482429.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ALT-602429.pdf' alt='Drawing of Active Learning Table model number ALT-602429')
      .card-body
        h5.card-title ALT-602429
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ALT-602429.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
