.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ALC-72-RND-LP.pdf' alt='Drawing of Active Learning Cluster model number ALC-72-RND-LP')
      .card-body
        h5.card-title ALC-72-RND-LP
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ALC-72-RND-LP.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ALC-72-TRI-LP.pdf' alt='Drawing of Active Learning Cluster model number ALC-72-TRI-LP')
      .card-body
        h5.card-title ALC-72-TRI-LP
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ALC-72-TRI-LP.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ALC-84-RND-LP.pdf' alt='Drawing of Active Learning Cluster model number ALC-84-RND-LP')
      .card-body
        h5.card-title ALC-84-RND-LP
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ALC-84-RND-LP.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 4
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ALC-84-TRI-LP.pdf' alt='Drawing of Active Learning Cluster model number ALC-84-TRI-LP')
      .card-body
        h5.card-title ALC-84-TRI-LP
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ALC-84-TRI-LP.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
