.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/CONFIGURE-IT-LECTERN.pdf' alt='Drawing of a full Configure IT Series bundle')
      .card-body
        h5.card-title CONFIGURE-IT-LECTERN
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/CONFIGURE-IT-LECTERN.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/GANG-IT.pdf' alt='CAD Drawing of the ganging bracket for Configure IT Series Lectern model number GANG-IT')
      .card-body
        h5.card-title GANG-IT
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/GANG-IT.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/IT-RB-243036-LPW.pdf' alt='Drawing of the av cabinet for the Configure IT Lectern model number IT-RB-243036-LPW')
      .card-body
        h5.card-title IT-RB-243036-LPW
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/IT-RB-243036-LPW.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
