.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271704/drawings/IT-603032-EF-R.pdf' alt='Drawing of Ergo-Float IT Lectern model number IT-603032-EF-R')
      .card-body
        h5.card-title IT-603032-EF-R
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271704/drawings/IT-603032-EF-R.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
