.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/EF-362429-ADA.pdf' alt='Drawing of Ergo-Float Table model number EF-362429-ADA')
      .card-body
        h5.card-title EF-362429-ADA
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/EF-362429-ADA.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/EF-423029-ADA-PL-L.pdf' alt='Drawing of Ergo-Float Table model number EF-423029-ADA-PL-L')
      .card-body
        h5.card-title EF-423029-ADA-PL-L
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/EF-423029-ADA-PL-L.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
