.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/TC-363030-ICU.pdf' alt='Drawing of ICU Testing Carrel model number TC-363030-ICU')
      .card-body
        h5.card-title TC-363030-ICU
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/TC-363030-ICU.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
