.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/PL3-3630.pdf' alt='Drawing of Power Lift Lectern model number PL3-3630')
      .card-body
        h5.card-title PL3-3630
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/PL3-3630.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/PL3-4230.pdf' alt='Drawing of Power Lift Lectern model number PL3-4230')
      .card-body
        h5.card-title PL3-4230
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/PL3-4230.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/PL3-4830.pdf' alt='Drawing of Power Lift Lectern model number PL3-4830')
      .card-body
        h5.card-title PL3-4830
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/PL3-4830.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 4
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/PL3-6030.pdf' alt='Drawing of Power Lift Lectern model number PL3-6030')
      .card-body
        h5.card-title PL3-6030
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/PL3-6030.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
