.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/X-LCD-302428-IM.pdf' alt='Drawing of Tier Secure Table model number X-LCD-302428-IM')
      .card-body
        h5.card-title X-LCD-302428-IM
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/X-LCD-302428-IM.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/X-LCD-302432-IM.pdf' alt='Drawing of Tier Secure Table model number X-LCD-302432-IM')
      .card-body
        h5.card-title X-LCD-302432-IM
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/X-LCD-302432-IM.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/X-LCD-302436-IM.pdf' alt='Drawing of the Secure Table model number X-LCD-302436-IM')
      .card-body
        h5.card-title X-LCD-302436-IM
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/X-LCD-302436-IM.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
