.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ULS1-38.pdf' alt='Drawing of Universal Lectern 1 model number ULS1-38')
      .card-body
        h5.card-title ULS1-38
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ULS1-38.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ULS1-DRAWER-L.pdf' alt='Drawing of Universal Lectern 1 (with document camera drawer) model number ULS1-DRAWER-L')
      .card-body
        h5.card-title ULS1-DRAWER-L
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ULS1-DRAWER-L.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ULS1-KBD-38.pdf' alt='Drawing of Universal Lectern 1 (with keyboard drawer) model number ULS1-KBD-38')
      .card-body
        h5.card-title ULS1-KBD-38
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ULS1-KBD-38.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
