.product-features
  ul
    li Modesty panel and cable management tray.
    li Low profile design to allow for clear view.
    li Dimensions:
      ul
        li Any width range from 30&rdquo; to 84&rdquo;
        li Any depth range from 24&quot; to 30&quot;
        li Standard heights 28&quot;, 32&rdquo; and 36&quot;
