.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/HALF-ROUND6030.pdf' alt='Drawing of AdapTable Series Table model number HALF-ROUND6030')
      .card-body
        h5.card-title HALF-ROUND6030
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/HALF-ROUND6030.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/HOMEPLATE.pdf' alt='Drawing of AdapTable Series Table model number HOMEPLATE')
      .card-body
        h5.card-title HOMEPLATE
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/HOMEPLATE.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/RECTANGLE6030.pdf' alt='Drawing of AdapTable Series Table model number RECTANGLE6030')
      .card-body
        h5.card-title RECTANGLE6030
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/RECTANGLE6030.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 4
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/ROUND36_48.pdf' alt='Drawing of AdapTable Series Table model number ROUND36_48')
      .card-body
        h5.card-title ROUND36_48
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/ROUND36_48.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 5
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/SQUARE36_48.pdf' alt='Drawing of AdapTable Series Table model number SQUARE36_48')
      .card-body
        h5.card-title SQUARE36_48
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/SQUARE36_48.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 6
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/TRAPEZOID6030.pdf' alt='Drawing of AdapTable Series Table model number TRAPEZOID6030')
      .card-body
        h5.card-title TRAPEZOID6030
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/TRAPEZOID6030.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 7
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/TRIANGLE48.pdf' alt='Drawing of AdapTable Series Table model number TRIANGLE48')
      .card-body
        h5.card-title TRIANGLE48
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/TRIANGLE48.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
