.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/CDT-363032.pdf' alt='Drawing of CAD Drafting Table model number CDT-363032')
      .card-body
        h5.card-title CDT-363032
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/CDT-363032.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/CDT-423032.pdf' alt='Drawing of CAD Drafting Table model number CDT-423032')
      .card-body
        h5.card-title CDT-423032
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/CDT-423032.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
