.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/BULLET-TAPER8436-48-29.pdf' alt='Drawing of Collaborative Table model number BULLET-TAPER8436-48-29')
      .card-body
        h5.card-title BULLET-TAPER8436-48-29
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/BULLET-TAPER8436-48-29.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/TEAM-OVAL843629.pdf' alt='Drawing of Collaborative Table model number TEAM-OVAL843629')
      .card-body
        h5.card-title TEAM-OVAL843629
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/TEAM-OVAL843629.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/TEAM-REC-8448-29.pdf' alt='Drawing of Collaborative Table model number TEAM-REC-8448-29')
      .card-body
        h5.card-title TEAM-REC-8448-29
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/TEAM-REC-8448-29.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
