.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/BAY-3.5-11-11.pdf' alt='Drawing of CPU Bay model number BAY-3.5-11-11')
      .card-body
        h5.card-title BAY-3.5-11-11
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/BAY-3.5-11-11.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/BAY-4.5-16.5-16.5.pdf' alt='Drawing of CPU Bay model number BAY-4.5-16.5-16.5')
      .card-body
        h5.card-title BAY-4.5-16.5-16.5
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/BAY-4.5-16.5-16.5.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/BAY-7-5-2.pdf' alt='Drawing of CPU Bay model number BAY-7-5-2')
      .card-body
        h5.card-title BAY-7-5-2
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/BAY-7-5-2.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 4
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/BAY-8-19-18.pdf' alt='Drawing of CPU Bay model number BAY-8-19-18')
      .card-body
        h5.card-title BAY-8-19-18
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/BAY-8-19-18.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 5
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/BAY-14-10-2.5.pdf' alt='Drawing of CPU Bay model number BAY-14-10-2.5')
      .card-body
        h5.card-title BAY-14-10-2.5
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/BAY-14-10-2.5.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
