.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/KIOSK.pdf' alt='Drawing of Kiosk model number KIOSK')
      .card-body
        h5.card-title KIOSK
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/KIOSK.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/KIOSK-PRINTER.pdf' alt='Drawing of Kiosk model number KIOSK-PRINTER')
      .card-body
        h5.card-title KIOSK-PRINTER
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/KIOSK-PRINTER.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/KIOSK-WC.pdf' alt='Drawing of Kiosk model number KIOSK-WC')
      .card-body
        h5.card-title KIOSK-WC
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/KIOSK-WC.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
