.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/RB-243030-C.pdf' alt='Drawing of Freestanding Rack Box model number RB-243030-C')
      .card-body
        h5.card-title RB-243030-C
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/RB-243030-C.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/RB-243037-L.pdf' alt='Drawing of Freestanding Rack Box model number RB-243037-L')
      .card-body
        h5.card-title RB-243037-L
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/RB-243037-L.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
