.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/MOBA-423029.pdf' alt='Drawing of MOBA Esports Gaming Table model number MOBA-423029')
      .card-body
        h5.card-title MOBA-423029
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/MOBA-423029.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/MOBA-423029-CRV.pdf' alt='Drawing of MOBA Esports Gaming Table model number MOBA-423029-CRV')
      .card-body
        h5.card-title MOBA-423029-CRV
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/MOBA-423029-CRV.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/MOBA-843029-CRV.pdf' alt='Drawing of MOBA Esports Gaming Table model number MOBA-843029-CRV')
      .card-body
        h5.card-title MOBA-843029-CRV
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/MOBA-843029-CRV.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 4
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/IT-MOBA-423036-CRV.pdf' alt='Drawing of MOBA Coach lectern model number IT-MOBA-423036-CRV')
      .card-body
        h5.card-title IT-MOBA-423036-CRV
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/IT-MOBA-423036-CRV.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
