.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/RMP-363028.pdf' alt='Drawing of Recessed LCD Table model number RMP-363028')
      .card-body
        h5.card-title RMP-363028
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/RMP-363028.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/RMP-423028.pdf' alt='Drawing of Recessed LCD Table model number RMP-423028')
      .card-body
        h5.card-title RMP-423028
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/RMP-423028.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/RMP-723028-D.pdf' alt='Drawing of Recessed LCD Table model number RMP-723028-D')
      .card-body
        h5.card-title RMP-723028-D
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/RMP-723028-D.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
