.row.row-cols-2.row-cols-md-3.g-4
  // Drawing 1
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/SL-363028.pdf' alt='Drawing of Split Level Table model number SL-363028')
      .card-body
        h5.card-title SL-363028
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/SL-363028.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 2
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/SL-423028.pdf' alt='Drawing of Split Level Table model number SL-423028')
      .card-body
        h5.card-title SL-423028
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/SL-423028.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
  // Drawing 3
  .col
    .card.h-100
      img.card-img-top(src='https://res.cloudinary.com/computer-comforts/image/upload/t_drawing-thumbnail/v1675271708/drawings/SL-723028.pdf' alt='Drawing of Split Level Table model number SL-723028')
      .card-body
        h5.card-title SL-723028
        a(href='https://res.cloudinary.com/computer-comforts/image/upload/v1675271708/drawings/SL-723028.pdf' target='_blank')
          small.text-muted
            i.bi.bi-download
            span.mx-2 Download
