//- Additional page styles and scripts
- var styles = []
- var scripts = []

//- Page title
- var pageTitle = ''
- var pageSubtitle = ''
- var pageTitleLink = {}


//- Product image gallery source tag 
- var galleryTag = ''
